.link{
  position: fixed;
  bottom: 30px;
  left: 0;
}
li{
  display: block;
  font-size: 1.25em;
}
a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
ul{list-style: none;}
a:visited{color: white;}

body{
  background-image: url(img/cafe2.png);
  background-size: cover;
  background-attachment: fixed;
}

.menu{
  position: fixed;
  top: 100px;
  left: 150px;
  overflow-y: auto;
  font-family: serif;
  font-weight: bold;
  color: white;
}
.headline{font-size: 1.5em;}
.contents{font-size: 1.3em;}
